/*绝对定位*/
.main{
    height: 300px;
    width: 600px;
    background-color: red;
    position: relative;
    top: 20px;
    left: 30px;
}
.div1{
    width: 100px;
    height: 100px;
    background-color: green;
    /*绝对定位是相对于最近祖先元素*/
    position: absolute;
    top: 20px;
    left: 30px;
}

/*相对定位*/
/*.main{*/
/*    height: 600px;*/
/*    width: 600px;*/
/*    background-color: red;*/
/*}*/
/*.div1{*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: green;*/
/*    !*相对定位是相对于自己以前的位置*!*/
/*    position: relative;*/
/*    !*top: 20px;*!*/
/*    !*left: 30px;*!*/
/*}*/